### 1

In [3]:
# swap variables with just one line of code- thanks to tuple unpacking you don't need an intermediate variable as in Java
a, b = 10, 20
print(a, b)

10 20

In [4]:
a, b = b, a
print(a, b)

20 10

### 2

In [18]:
# split string into a list
lista_amici = "alket matteo marco stefano".split(" ")
lista_amici

['alket', 'matteo', 'marco', 'stefano']

In [19]:
# using zip creates an iterable of couples 
eta = [43, 39, 41, 44]
nome_eta = zip(lista_amici, eta)

In [20]:
type(nome_eta)

zip

In [21]:
#  create dictionary
nome_eta = dict(nome_eta)

In [22]:
nome_eta

{'alket': 43, 'matteo': 39, 'marco': 41, 'stefano': 44}

### 3

In [24]:
range(10)

range(0, 10)

In [28]:
list(range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
r = range(1,11, 2)
r

range(1, 11, 2)

In [27]:
nums = list(r)
nums

[1, 3, 5, 7, 9]

In [33]:
# curious thing, the range() is not an iterator
decrease_step = list(range(15, 1, -3))
decrease_step

[15, 12, 9, 6, 3]

### 4

In [35]:
url = "https://campus.datacamp.com/courses/experimental-design-in-python/the-basics-of-statistical-hypothesis-testing?ex=9"
list_url = url.split("/")[2: ]
list_url

['campus.datacamp.com',
 'courses',
 'experimental-design-in-python',
 'the-basics-of-statistical-hypothesis-testing?ex=9']

In [44]:
# create tupe and unpack it
tup = tuple(url.split("/")[2:])
print(type(tup))
main_website, course, name_course, lesson = (url.split("/")[2:])

<class 'tuple'>

In [45]:
main_website

'campus.datacamp.com'

# 5

In [47]:
# index inside a loop
names = ["alket", "matteo", "stefano", "dino"]
for i in names: 
    print(i)

alket
matteo
stefano
dino

In [51]:
# with an enumerator around an iterator such as a list you get a counter for free. The "start" atribute decides the index start
for i, name in enumerate(names, start = 0):
    print(i, name)

0 alket
1 matteo
2 stefano
3 dino

### 6

In [61]:
# sorting things 
d = {"simo":37, "enea":5, "alket":43}
sorted_by_name = sorted(d.items())

In [62]:
sorted_by_name

[('alket', 43), ('enea', 5), ('simo', 37)]

In [66]:
sorted_by_age = sorted(d.items(), key = lambda x : x[1])
sorted_by_age

[('enea', 5), ('simo', 37), ('alket', 43)]

In [68]:
sorted_by_age_reverse = sorted(d.items(), key= lambda x : x[1], reverse = True)
sorted_by_age_reverse

[('alket', 43), ('simo', 37), ('enea', 5)]

In [59]:
lista = "alket ledi igli daniel eno alban".split(" ")

In [60]:
sorted(lista)

['alban', 'alket', 'daniel', 'eno', 'igli', 'ledi']

### 7

In [69]:
a = 7
b = 1
# instead of writing a > 1 and a < 10 you can chain everything
1 < a < 10

True

### 8

In [71]:
# flaten a list of lists 
listoflists = [[1, 2, 3, 4], [3, 4], [8, 9], [10]]
listoflists

[[1, 2, 3, 4], [3, 4], [8, 9], [10]]

In [73]:
flatten = sum(listoflists, [])
flatten

[1, 2, 3, 4, 3, 4, 8, 9, 10]

### 9

In [74]:
from random import sample

In [75]:
fruits = "banana apple kiwi pineapple melon watermelon peach".split()

In [80]:
sample(fruits, 2)

['kiwi', 'pineapple']

### 10

In [81]:
from collections import Counter

In [89]:
greens = "salad,cuccumber,onion,zuchini,eggplant,salad,eggplant,onion,patatos,onion".split(",")

In [90]:
Counter(greens)

Counter({'salad': 2,
         'cuccumber': 1,
         'onion': 3,
         'zuchini': 1,
         'eggplant': 2,
         'patatos': 1})

### 11

In [91]:
from collections import deque
s = "ciao, oggi è una bella giornata"
d = deque(s)

In [95]:
d.rotate(3)

In [96]:
d

deque([' ',
       'g',
       'i',
       'o',
       'r',
       'n',
       'a',
       't',
       'a',
       'c',
       'i',
       'a',
       'o',
       ',',
       ' ',
       'o',
       'g',
       'g',
       'i',
       ' ',
       'è',
       ' ',
       'u',
       'n',
       'a',
       ' ',
       'b',
       'e',
       'l',
       'l',
       'a'])

In [97]:
''.join(d)

' giornataciao, oggi è una bella'

### 12

In [100]:
languages = "Java PHP Perl Python C++ C#".split()
[l for l in languages if l.lower().startswith("p")]

['PHP', 'Perl', 'Python']

In [102]:
all(len(l) >= 2 for l in languages)

True

In [104]:
any("++" in l for l in languages)

True

### 13

In [109]:
for i in range(1, 10):
    print(str(i).zfill(4))

0001
0002
0003
0004
0005
0006
0007
0008
0009

In [110]:
for i in range(-3, 2): 
    print(str(i).zfill(4))

-003
-002
-001
0000
0001

### 14

In [115]:
# generate unique identifier with uuid
from uuid import uuid4
id = uuid4()
print(id)

15e5b71a-31ed-4298-8e38-26404236f927

### 15

In [120]:
# combine multiple strings 
s = ["hello there", "hi , how are you", "great, how do you do", "have a nice day"]
joined = "\n".join(s)
print(joined)

hello there
hi , how are you
great, how do you do
have a nice day